<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        #box div button {
            padding: 10px 20px;
            font-size: 20px;
            background-color: rgb(66, 66, 252);
            color: white;
            border: 1px solid black;
            margin: 20px;
        }
    </style>
</head>

<body>
    <%- include("navbar") %>
        <div class="container">
            <div id="box"></div>
        </div>
</body>
<script>
    const deleteproduct = (id) => {
        fetch(`/product/delete/${id}`, {
            method: "DELETE"
        })
    }
    const updateproduct = (id) => {
        fetch(`/product/update/${id}`, {
            method: 'PATCH',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(updateproduct)
        })
    }
    const display = (data) => {
        document.getElementById("box").innerHTML = "";
        data.map((ele) => {
            let image = document.createElement("img");
            image.src = ele.image;
            let title = document.createElement("h2");
            title.innerHTML = ele.title;
            let desc = document.createElement("h3");
            desc.innerHTML = ele.desc;
            let price = document.createElement("h3");
            price.innerHTML = ele.price;

            let btn1 = document.createElement("button");
            btn1.innerHTML = "Update";
            btn1.addEventListener("click", () => updateproduct(ele._id));

            let btn2 = document.createElement("button");
            btn2.innerHTML = "Delete";
            btn2.addEventListener("click", () => deleteproduct(ele._id));

            div = document.createElement("div");
            div.append(image, title, desc, price ,btn1, btn2);
            document.getElementById("box").append(div);
        })
    }
    fetch("/product/cartdata")
        .then((response) => response.json())
        .then((response) => display(response))
        .catch((error) => console.log(error));
</script>

</html>