<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("navbar") %>
    <form action="/product/products" method="post">
        <h1>Create Product</h1>
        <input type="url" name="image" id="" placeholder="Image">
        <input type="text" name="title" id="" placeholder="Title">
        <input type="text" name="desc" id="" placeholder="Descreption">
        <input type="text" name="category" id="" placeholder="Category">
        <input type="number" name="price" id="" placeholder="Price">
        <input type="submit" name="" id="">
    </form>
</body>
</html>